main {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-gap: 2px;
}

app-square {
    border: 1px rgb(53, 53, 53) solid;
    height: 20vh;
}

#square-container {
    margin: auto;
    padding-top: 2rem;
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-section {
    margin: auto;
    max-width: 1240px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-items {
    justify-content: start;
}
